/*
send pm color= #8648B6
receive pm color= #222E3A
*/

.chat-status {
  width: 100%;
  height: 56px;
  background-color: rgb(23, 33, 43);
  margin-top: 20px;
}
.last-visit,
.telephone-icon,
.search-icon,
.channel-sub,
.post-details,
.send-message-inp::placeholder,
.message-time {
  color: #768c9e;
}

.last-visit,
.send-message-inp::placeholder,
.channel-sub {
  font-size: 14px;
}

.chat-page {
  height: 100%;
}

.chat-name {
  margin-bottom: 0;
}

.three-dot-icon {
  width: 20px;
}

.send-message-inp {
  background-color: rgb(23, 33, 43);
  outline: none;
  border: none;
  width: 100%;
}

.send-message-inp::placeholder {
  padding: 5px;
}

.bottom-options {
  width: 75%;
  position: fixed;
  bottom: 0;
}

.bottom-options img {
  cursor: pointer;
}

.bottom-options-icon {
  width: 25px;
  position: absolute;
  fill: #768c9e;
}

.clip-icon {
  left: -3px;
  bottom: -10px;
  transform: rotate(22deg);
  width: 60px;
}

.mic-icon,
.emoji-icon {
  top: 8px;
}

.mic-icon {
  right: 10px;
}

.emoji-icon {
  right: 47px;
}
/*! CHAT...*/
.chat p {
  display: inline-block;
}

.received,
.sended {
  font-size: 12px;
  max-width: 300px;
}

.received,
.card,
.def-inp {
  background-color: #222e3a;
}

.received {
  border-radius: 10px 10px 10px 0;
  margin-left: 1px;
  width: fit-content;
}
.sended {
  background-color: #2b5278;
  border-radius: 10px 10px 0px 10px;
  margin-right: 1px;
}

.message-time {
  text-wrap: nowrap;
}

.chat {
  height: 100%;
  overflow: scroll;
}

.chat-start-time {
  background-color: rgb(30, 44, 58);
  width: fit-content;
  font-size: 12px;
  border-radius: 20px;
}

.card {
  color: white;
}

.card-text {
  font-size: 14px;
}

.card-body {
  padding: 5px;
}

.post-details {
  font-size: 12px;
}

.eye-icon {
  width: 14px;
}

.double-tick-icon {
  width: 18px;
  height: fit-content;
}

.post-links,
.def-inp {
  color: #4082bc;
}

.def-inp {
  background-color: rgb(23, 33, 43);
}

.channel-message {
  border-radius: 10px 10px 10px 0;
  margin-left: 1px;
}

/* .def {
  width: 20px;
  margin-top: 20px;
} */

.default-message {
  margin-top: 30%;
  background-color: rgb(37, 48, 62);
  width: fit-content;
  border-radius: 20px;
}
/* !hover*/
.def-inp:hover {
  background-color: rgb(37, 48, 62);
  transition: all 0.3s;
  cursor: pointer;
}
